{% block title%} Principal {% endblock %}
{% block content %}
<p> Elija una operación </p>
<br>
<p> <a href="/ejercicios/fibo">
    <button>Fibonacci</button>
</a> </p>
<br>
<p> <a href="/ejercicios/primo">
    <button>Primos</button>
</a> </p>
<br>
<p> <a href="/ejercicios/fibo2">
    <button>Fibonacci 4 terminos</button>
</a> </p>
<br>
<p> <a href="/ejercicios/calculadora">
    <button>Calculadora</button>
</a> </p>
<br>
<p> <a href="/ejercicios/matrices">
    <button>Matrices</button>
</a> </p>
<br>

{% endblock %}